
<!DOCTYPE html>
<html>
<head>
    <title>{{ baslik }}</title>
</head>
<body>
    <h1>{{ baslik }}</h1>
    <ul>
        {% for icerik in icerikler %}
            <li>{{ icerik }}</li>
        {% endfor %}
    </ul>

<h2>Yeni yazı ekle:</h2>
    <form action="/yazi-ekle" method="post">
        <input type="hidden" id="txtBaslikId" name="txtBaslikId" value="{{baslik_id}}">
        <input type="text" id="txtYazi" name="txtYazi"><br>
        <input type="submit" value="Gönder">
    </form>
</body>
</html>