<!DOCTYPE html>
<html>
<head>
    <title>Anasayfa</title>
</head>
<body>
<h1>Gündem</h1>
<ul>
    {% for b in basliklar %}
        <li><a href="/baslik/{{b['_id']}}">{{ b['baslik'] }}</a></li>
 <!-- herbaşlık için bir liste ögesi oluşturulacak -->
    {% endfor %}                    <!--her bağlantının bir id değeri olan url'e yönlendirileceği  href="/baslik/{{baslik.id}} -->
</ul>                               <!--{{baslik.id}} her döngüdeki başlık nesnesinin id özelliğine karşılık gelir -->
</body>                             <!--{{baslik.baslik}} kısmı-->
</html>

